* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f2f2;
  padding-top: 4rem;
}

@media screen and (min-width: 250px) and (max-width: 786px) {
  .head img {
    width: 8rem;
  }

  .fa-bars,
  .close-mark {
    margin-right: 11px;
    font-size: 18px;
    cursor: pointer;
  }

  .fa-bars-remove {
    visibility: hidden;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: #f5f2f2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  /* section 1 */

  .part-1 {
    background: linear-gradient(90deg, #0f6db5, #7cc242);
    padding: 1.5rem 1.5rem;
  }

  .head-one {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .head-one i {
    font-size: 9px;
  }

  .head-one h3 {
    font-size: 10px;
  }

  .head-second {
    font-family: Arial, sans-serif;
    color: white;
    align-items: center;
    margin-top: 1rem;
  }

  .head-second h1 {
    font-size: 28px;
  }

  .head-second p {
    font-size: 18px;
    padding-top: 0.5rem;
    font-weight: 100;
  }

  #part-sec {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part-sec {
    height: 12rem;
    background-color: #fff;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 1rem;
    gap: 15px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    gap: 3px;
    border: 2px solid #0f6db5;
    width: 90%;
    height: 2.78rem;
    border-radius: 0.5rem;
  }

  .btn i {
    font-size: 12px;
  }

  .btn h3 {
    font-size: 1rem;
  }

  /* menu section */

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18rem;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-110%);
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
  }

  .menu-active {
    transform: translateX(0);
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 18rem;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }

  .logo img {
    width: 10rem;
  }

  .fa-xmark {
    margin-right: 15px;
    font-size: 19px;
  }

  .menuss {
    margin-top: 4.5rem;
    height: 89vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  body.blur-active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1500;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .fa-angle-down,
  .fa-angle-up {
    font-size: 1rem;
    margin-right: 2rem;
  }

  .courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .course-item {
    width: 14rem;
    height: 0;
    border-radius: 0.5rem;
    background-color: rgba(211, 208, 208, 0.24);
    overflow-y: scroll;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition:
      height 0.4s ease-in-out,
      opacity 0.4s ease-in-out;
  }

  .course-items-active {
    visibility: visible;
    height: 30rem;
    opacity: 1;
    overflow-y: scroll;
  }

  .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  .line-1 {
    width: 15rem;
  }

  .select-menu {
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .select-menu a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  .but {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .but button {
    background: linear-gradient(90deg, #0f6db5, #7cc242);
    color: #fff;
    border: none;
    height: 3rem;
    font-size: 18px;
    border-radius: 12px;
    width: 13rem;
    margin-bottom: 7rem;
  }

  .but button:hover {
    opacity: 0.9;
  }
}

/* id card */

/* section 2 */

.id-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 5px;
}

.id-heading h2 {
  font-size: 1.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.id-heading p {
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cnin-no {
  margin-left: 1rem;
  margin-top: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.input span {
  color: #0f6db5;
}

.input h3 {
  font-size: 1rem;
  font-family:
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  width: 90%;
  text-align: left;
}

.input input {
  width: 90%;
  height: 2.6rem;
  border-radius: 0.5rem;
  border: 2px solid #636262;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 1rem;
}

.input input:focus {
  outline: none;
  border-color: #0f6db5;
}

.but-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-search button {
  height: 2.5rem;
  width: 77%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0f6db5;
  color: white;
  margin-bottom: 5rem;
}

/* registration */
/* section 2 */

.heid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 5px;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.course {
  margin-left: 1rem;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}

.blue {
  color: #0f6db5;
}

.select h3 {
  font-size: 1rem;
  font-family:
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  width: 90%;
  text-align: left;
}

.select select {
  width: 90%;
  height: 2.6rem;
  border-radius: 0.5rem;
  border: 2px solid #636262;
  background-color: transparent;
  font-size: 1.3rem;
  padding-left: 1rem;
}

.select select:focus {
  outline: none;
  border-color: #0f6db5;
}

.btn-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.btn-sub button {
  height: 2.5rem;
  width: 40%;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0f6db5;
  color: white;
}

.btn-sub button:hover {
  background-color: #287fc2;
}

/* Registratin 2 */
/* section 1 */

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 5px;
}

.heading i{
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.5rem;
  color: #0f6db5;
}

.det-input h3{
  font-size: 1rem;
  font-family:
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  width: 90%;
  text-align: left;
}

.det-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}

.det-input input{
  width: 90%;
  border: none;
  border-bottom: 2px solid #3f3f3f;
  outline: none;
  background-color: #f5f2f2;
  padding: 6px 0;
  font-size: 18px;
  padding-left: 0.5rem;
}

.det-input input:focus{
  border-bottom-color: #0f6db5;
}

.red{
  color: red;
}

.op{
  font-size: 0.7rem;
}

.det-input input::-webkit-outer-spin-button,
.det-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.det-input input[type="number"] {
  -moz-appearance: textfield;
}

.btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.back,
.sub{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#back-btn,
#sub-btn{
  height: 2.5rem;
  width: 50%;
  font-size: 1rem;
  color: white;
  background-color: #0f6db5;
  border: none;
  border-radius: .5rem;
}









/* result */
/* section 3 */

.otp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.result {
  font-size: 1rem;
  font-family:
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  width: 90%;
  text-align: left;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.otp input {
  width: 50px;
  height: 55px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: transparent;
}

.otp input:focus {
  border: 2px solid #0f6db5;
  outline: none;
}

.otp input::-webkit-outer-spin-button,
.otp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp input[type="number"] {
  -moz-appearance: textfield;
}
