* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f2f2;
}

@media screen and (min-width: 250px) and (max-width: 786px) {
  .head img {
    width: 10rem;
  }

  nav {
    position: fixed;
    width: 20rem;
    z-index: 99;
  }

  .fa-bars {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .fa-bars-remove {
    visibility: hidden;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 20rem;
  }

  /* menu section */

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18rem;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-110%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .menu-active {
    transform: translateX(0);
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 18rem;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }

  .logo img {
    width: 10rem;
  }

  .fa-xmark {
    margin-right: 15px;
    font-size: 19px;
    cursor: pointer;
  }

  .menuss{
    margin-top: 4.5rem;
    height: 89vh;
    overflow-y: scroll;
  }

  body.blur-active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 999;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .fa-angle-down,
  .fa-angle-up{
    font-size: 1rem;
    margin-right: 2rem;
  }

  .courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
  }

  .course-item{
    width: 14rem;
    height: 0;
    border-radius: .5rem;
    background-color: rgba(211, 208, 208, 0.24);
    overflow-y: scroll;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .course-items-active{
    visibility: visible;
    height: 30rem;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  .line-1 {
    width: 15rem;
  }

  .select-menu {
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .select-menu a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  .but {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .but button {
    background: linear-gradient(90deg, #0f6db5, #7cc242);
    color: #fff;
    border: none;
    height: 3rem;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    width: 13rem;
    margin-bottom: 1rem;
  }

  .but button:hover {
    opacity: 0.9;
  }
}
